<br />
<br />

<footer>
<p style="font-size:12pt">Copyright (c) 2022 João Oliveira Santos,
licensed under
<a href="http://creativecommons.org/licenses/by-nd/4.0/">CC-BY-ND-4.0</a>
	<a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">
		<img alt="Creative Commons License" style="border-width:0"
		     src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png"/>
	</a>
</p>
</footer>

</body>
</html>
